@import "./layout/global-rules";
$main-color: #d2b356;
$main-hover-color: #d8b857;
$lightgray: #e6e6e6;
$darkgray: #a1a0a0;
$btn-color: #000000;
$btn-hover-color: #4b4a4a;
$black: #000000;
$white: white;
$gray: #ccc;

